::selection {
    background: #1f1f1f;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-size: 13pt;
    font-family: monospace;
    color: #f5f5f5;
    background-color: #1f1f1f;
}

#container {
    padding: .1em 1.5em 1em 1em;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 120px;
}

#cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}

#output {
    clear: both;
    width: 100%;
}

#prompt {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.prompt-color {
    color: #1fbd00;
}

.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}

.input-line>div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#githubImg img {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono|Ubuntu+Mono|Cutive+Mono");
pre {
    display: inline-block;
    font-size: 7px;
    text-align: center;
    font-family: Ubuntu Mono, monospace !important;
    text-rendering: optimizeSpeed;
}


/* SIDE NAV */

@media screen and (max-height: 450px) {
    body {
        font-size: 11pt;
    }
    #sidenav {
        padding-top: 15px;
    }
    #sidenav a {
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    #githubImg img {
        transform: translateX(900px);
    }
    #container {
        margin-right: 0;
    }
}
